



    <footer class="row mx-0 justify-content-around px-4 py-5 ">
        <div class="col-md-6">
            <div>
                <img src="/images/rikeey-logo.png"  alt= "My Logo" class="footer-logo">
            </div>
            <div class="mt-5">
                <P>
                    Rikeey is a Sport and Fashion brand that focuses on fitness, fashion, and lifestyle.
                </P>

                <p>
                    Our brand is of high and top notch quality designed to give you the needed 
                    comfort, confidence, motivation, inspiration and style throughout your journey
                     of a fashionable and healthier lifestyle.
                </p>
            
            </div>
            <div class="mt-5">
                <h6>
                    Accepted Payment Partners
                </h6>
                <img src="/images/mastercard.png">
                <img src="/images/visa.png">
                <img src="/images/discover.png">
                <img src="/images/paypal.png">
                <img src="/images/cirrus.png">

            </div>
        </div>

        <div class="col-md-5">
            <h5>
                Sign up to our  newsletter
            </h5>

        </div>
            
             <!-- <a href="rikeey/asset/image/rikeey-logo.png"></a>
            
         -->




    </footer>





    

    <script>
        function openSidebar() {
            document.getElementById("sideBar").style.width="100%";
        }
        

        function closeSidebar() {
            document.getElementById("sideBar").style.width="0%";
        }


        // slick carousel
        // 
        // 
        // 
        //         

        $(document).on('ready', function() {
            $(".center").slick({
                dots: true,
                infinite: true,
                centerMode: true,
                slidesToShow: 2,
                slidesToScroll: 1
            });

        });


            //   window.onload = function() {
            //      if (window.jQuery) {  
            //      // jQuery is loaded  
            //         alert("Yeah!");
            //      } else {
            //     // jQuery is not loaded
            //      alert("Doesn't Work");
            //          }
            //         }




        // slider function

        // const imageSlide = document.querySelector('.image-slide');
        // const sliderDiv = document.querySelectorAll('.slide-img-container');

        // const backbtn   = document.querySelector('#backBtn');
        // const fwdbtn   = document.querySelector('#fwdBtn');

        // let counter = 1;
        // const size = sliderDiv[0].clientWidth;

        // imageSlide.style.transfrom = 'trasnlateX(' + ( -size * counter) + 'px)';

        // fwdBtn.addEventListener ('click', () => {
        //     imageSlide.style.trasnition = "transform 0.4s ease-in-out";
        //     counter++;
        //     imageSlide.style.transfrom = 'trasnlateX(' + ( -size * counter) + 'px)';
        // })


        // backBtn.addEventListener ('click', () => {
        //     imageSlide.style.trasnition = "transform 0.4s ease-in-out";
        //     counter--;
        //     imageSlide.style.transfrom = 'trasnlateX(' + ( -size * counter) + 'px)';
        // })

    </script>

    <!-- <script src="/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/fontawesome-free-5.15.2-web/js/fontawesome.min.js"></script>
    <script src="/app.js"></script>

    <!-- slick css -->
    <script src="/slick/slick.min.js"></script>

</body>
</html>
