<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rikeey Fashion Home</title>
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/darkly/bootstrap.min.css"> -->

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/fontawesome-free-5.15.2-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/landingstyle.css">
    <link rel="stylesheet" href="/css/bgrikeey-style.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css">


    

</head>
<body>
    


    

    <nav class=" bg-nav row mx-0 justify-content-around p-3  fixed-top">
        <div class="col-2 nav-logo-container">
            <img class="nav-logo-img" src="/images/rikeey-logo.png" alt="">
        </div>
        <div class="col-6 fw-700 d-flex align-items-center justify-content-center">
            <a href=""><div class="mr-5">
                New
            </div></a>
            <a href=""><div class="mr-5">
                Shop
            </div></a>
            <a href=""><div class="mr-5">
                About
            </div></a>
            <a href=""><div class="mr-5">
                Account
            </div></a>
            <a href=""><div class="">
                Cart
            </div></a>
            
        </div>
        <div class="col-2 ">
            <div class="input-group search-nav">
                <label class="search-nav-label mr-2" for=""> <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather  my-auto feather-search  "><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> </label>
                <input type="text" class="form-control btn-sm white-color small no-box-shadow bg-transparent border-none" placeholder="Search">
            
            </div>


            
        </div>

    </nav>

    <nav class="sm-nav fixed-top">
        <div id="sideBar">
            <div class=" mt-3 sidebar-nav  mx-2 d-flex px-2">
    
               
                    <span class="close-btn" onclick="closeSidebar()">
                        <svg width="11" height="11" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 1.5L1 13.5" stroke="#4D4C4C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 1.5L13 13.5" stroke="#4D4C4C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                            
                    </span>
                    
               
                    <span class="ml-auto d-flex ">
                        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather mr-3 my-auto feather-search  "><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> </a> 
                        <a href=""> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather align-middle feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg></a> 
                    </span>
    
    
    
                        
                                                                                 
                    
         
        
            </div>
            <div class="sidebar-links pl-3  fw-600">
                <a href=""><div class="mb-2"> Shop</div></a>
    
                <a href=""><div class="mb-2"> New</div></a>
    
                <div class="mb-3">
                    <a href=""><div class="mb-2"> Women Active Wear</div></a>
    
                    <div class="sub-links  grey-color">
                        <a href=""><div class="mb-2"> Fullsets</div></a>
                        <a href=""><div class="mb-2"> Tops and Bras</div></a>
                        <a href=""><div class=""> Buttoms</div></a>
                    </div>
                </div>
    
                <div class="mb-3">
                    <a href=""><div class="mb-2"> Men Active Wear</div></a>
    
                    <div class="sub-links  grey-color">
                        <a href=""><div class="mb-2"> Tops</div></a>
                        <a href=""><div class=""> Buttoms</div></a>
                    </div>
                </div>
    
                <div class="mb-3">
                    <a href=""><div class="mb-2"> Waist Trainer</div></a>
    
                    <div class="sub-links  grey-color">
                        <a href=""><div class="mb-2"> Steel bone latex trainer</div></a>
                        <a href=""><div class=""> Strap compression belt 2.0</div></a>
                    </div>
                </div>
    
                <div class="mb-4">
                    <a href=""><div class="mb-2"> Fitness Equipment</div></a>
    
                    <div class="sub-links  grey-color">
                        <a href=""><div class="mb-2"> Jump ropes</div></a>
                        <a href=""><div class=""> Resistance band</div></a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="nav-sm-container d-flex pt-3 px-4">
            <div class="open-btn" onclick="openSidebar()">
                <svg width="15" height="13" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 5.5H1" stroke="#656161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19 1.5H1" stroke="#656161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19 9.5H1" stroke="#656161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15 13.5H1" stroke="#656161" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
    
            <div class=" nav-logo-container  ml-auto">
                <img class="nav-logo-img" src="/images/rikeey-logo.png" alt="">
            </div>
        </div>
    </nav>


    