@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');
html,
body {
    font-family: 'Karma', serif;
    background: #E5E5E5;
    font-size: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.fs-xxs {
    font-size: xx-small;
}

.fs-xs {
    font-size: x-small;
}

.fs-smr {
    font-size: smaller;
}

.fs-sm {
    font-size: small;
}

.fs-nm {
    font-size: normal;
}

.fs-lg {
    font-size: large;
}

.fs-lgr {
    font-size: larger;
}

.fs-xlg {
    font-size: x-large;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.white-color {
    color: #ffff;
}

.white-color:hover {
    color: #ffff;
}

.bg-transparent {
    background-color: unset;
}

.border-none {
    border: none;
}

.no-box-shadow {
    box-shadow: none !important;
}


.lh-1 {
    line-height: 1rem;
}

.lh-2 {
    line-height: 1.5rem;
}

.lh-3 {
    line-height: 2rem;
}

.grey-color {
    color: rgba(101,97,97,1);

}

.br-1 {
    border-radius: 0.3rem;
}

.br-2 {
    border-radius: 0.5rem;
}

.br-3 {
    border-radius: 0.7rem;
}

.border-white {
    border: 0.1rem solid #fff;
}








/**********************************************
                
                    NAV BAR

***********************************************/

nav,
footer {
    background: #F6F6F6;
    
}

nav {
    height: 4rem;
}

.nav-logo-container,
.nav-logo-img {
    height: 100%;
}

.search-nav-label {
    padding-top: 0.20rem;
}

.search-nav {
    border-bottom: 0.03rem solid black ;
}


/* small screen sidebar css */

#sideBar {
    position: fixed;
    width: 0;
    left: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    background: #fff;
    z-index: 1;
    transition: 0.35s;
    overflow-y: scroll;
}

#sideBar .sidebar-nav {
    height: 1.5rem;
}

#sideBar .sidebar-links {
    position: relative;
    top: 0.5rem;
    left: 0.6rem;
    line-height: 2rem;
    transition: 0.1s;
}

#sideBar .sidebar-links .sub-links{
   
    line-height: 1.3rem;
}


.open-btn {
   display: flex;
   align-items: center;
} 


/* main-content */

.main-content {
    margin-top: 4rem;
    height: 500rem;
}


 /* welcome bg img */


.hero-container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    
    
}

.hero-image {
    width: 100%;
    position: absolute;
}

.hero-layer {
    width: 100%;
    max-height: inherit;
    z-index: 3;
    display: flex;
    text-align: center; 
    color: #fff;
}



.hero-text {
    margin: auto;
}






/* .bg-rikeey {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url("../images/madeforcomfort.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 2rem;
}

.layer {
    margin: 0;
    padding: 0;
    background-color: rgba( 143,16,16,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.comfort-text {
    font-size: 5rem;
} */



/* catalog-content */

.catalog-label,
.slider-label {
    background-color: rgba(115,15,17,1 );
    color: #fff;
    width: 30%;
    height: 3.2rem;
    margin-left: 0;
    display: flex;
    margin-bottom: 2.5rem;
 }

 .catalog-label-text {
    font-size: 1.5rem;
}


/* catalog imgs */

.men-top,
.women-short,
.women-set,
.men-bottom {
    position: relative;
}


.catalog-img {
    position: absolute;
    left: 0;
    top: 0;
}

.catalog-text-bg {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 10rem;
    height: 3.2rem;
    margin: 0;
    padding: 0;
    display: flex;

}

.men-top-img,
.men-bottom-img,
.women-set-img,
.women-short-img {
    width: 100%;
}


.men-top-img,
.women-set-img,
.women-short-img,
.men-bottom-img {
    height: 100%;
   
}




/* slider section */

.slider-container {
   width: 25rem !important;
   margin: auto;
   border: 1px solid red;
   overflow: visible !important;

}

.image-slide {
    display: flex;
    width: 300%;
    /* position: relative;
    transition: left 1s;
    -webkit-transition: left 1s ;
    -moz-transition: left 1s ;
    -o-transition: left 1s ; */
}

.slide-img-container {
    width: 25rem !important;
    height: 30rem !important;
    
}

.slider-img {
    width: 100%;
    height: 100%;
}

.w-90 {
    width: 90% !important;
}







/**********************************************
                
                    FOOTER

***********************************************/
footer {
    position: relative;
    height: 30rem;
    bottom: 0;

}

.footer-logo {
    height: 3rem;
}





/**********************************************
        MEDIA QUERY FOR SMALL SCREENS
***********************************************/


@media (min-width: 320px ) {

    /* nav/sidebar */

    .bg-nav {
        display: none ;
    
    }

    .nav-logo-container {
        height: 1.6rem !important;
        align-self: center;
    }

    #sideBar .sidebar-links {
        font-size: small;
    }

    #sideBar .sidebar-links .sub-links{
        font-size: x-small;
        
    }

    /* main-content */

    /* hero container */

    .hero-container {
        margin-bottom: 2rem;
    }

    

    /* catalog-content */

    /* catalog */

    .catalog-section {
        margin-bottom: 1rem ;
    }

    .catalog-label {
        display: none;
        
    }

    .catalog-image-container {
        margin: 0 1rem;
        height: unset;
        
    }

    .men-top {
        order: 4;
    }

    .men-bottom {
        order: 3;
    }

    .women-catalog {
        order: 2;
    }

    .men-top,
    .men-bottom {
        height: 20rem;
        
    }

    .women-catalog {
        height: calc((20rem + 1.5rem) * 2);
    }

    .women-short,
    .women-set {
        height: 48%;
    
    }
    
    
   
    
    .men-top,
    .women-catalog,
    .women-short,
    .men-bottom {
        margin-bottom: 1.5rem;
        
    }


    /* slider section */

    .slider-label {
        height: 2.5rem;
     }

    .slider-label-text {
        font-size: 0.8rem;
    }



    
    
}


/**********************************************
        MEDIA QUERY FOR MEDIUM SCREENS
***********************************************/


@media (min-width: 768px ) {

    /* nav/sidebar */

    /* .bg-nav {
        display: none ;
    
    } */

    /* .nav-logo-container {
        height: 1.8rem !important;
        align-self: center;
    }

    #sideBar .sidebar-links {
        font-size: normal;
    }

    #sideBar .sidebar-links .sub-links{
        font-size: small;
        
    } */

    /* main-content */

    /* catalog-content */

    


}




/**********************************************
        MEDIA QUERY FOR LARGE SCREENS
***********************************************/



@media (min-width: 768px ) {

     /* nav/sidebar */

    .sm-nav {
        display: none ;

    }

    .bg-nav {
        display: flex;
        margin: 0;
    }

    /* main-content */

    /* hero container */

    .hero-container {
        margin-bottom: 5.5rem;
    }


    /* catalog-content */

    .catalog-section {
        margin-bottom: 8rem ;
    }


    .catalog-label {
        display: flex;
    }


    .men-top {
        order: 1;
    }

    .men-bottom {
        order: 4;
    }

    .women-catalog {
        order: 2;
    }

    .men-top,
    .men-bottom,
    .women-catalog {
        height: 38rem;
        
    }

    .women-short,
    .women-set {
        height: 50%;

    }

    

    .men-top,
    .women-set,
    .women-short,
    .men-bottom {
        margin-bottom: 0rem ;
    }

    

    .catalog-image-container {
        margin: 0 3rem;
     }
    

      /* slider section */

    .slider-label {
        height: 3.2rem;
    }


    .slider-label-text {
        font-size: 1.5rem;
    }


}
