<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rikeey Fashion Home</title>

    <link rel="stylesheet" href="../asset/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/fontawesome-free-5.15.2-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../asset/css/landingstyle.css">

</head>
<body>

    <nav class="row mx-0 justify-content-around p-3  fixed-top">
        <div class="col-2 nav-logo-container">
            <img class="nav-logo-img" src="../asset/images/rikeey-logo.png" alt="">
        </div>
        <div class="col-6 fw-700 d-flex align-items-center justify-content-center">
            <a href=""><div class="me-5">
                New
            </div></a>
            <a href=""><div class="me-5">
                Shop
            </div></a>
            <a href=""><div class="me-5">
                About
            </div></a>
            <a href=""><div class="me-5">
                Account
            </div></a>
            <a href=""><div class="">
                Cart
            </div></a>
            
        </div>
        <div class="col-2 ">
            <div class="input-group search-nav">
                <label class="search-nav-label me-2" for=""> <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather  my-auto feather-search  "><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> </label>
                <input type="text" class="form-control btn-sm white-color small no-box-shadow bg-transparent border-none" placeholder="Search">
            
            </div>


            
        </div>

    </nav>

    <div class="main-content mt-5">
       

    
         
    </div>
    <footer class="row mx-0 justify-content-around px-4 py-5 fixed-bottom">
        <div class="col-md-6">
            <div>
                <img src="../asset/images/rikeey-logo.png"  alt= "My Logo" class="footer-logo">
            </div>
            <div class="mt-5">
                <P>
                    Rikeey is a Sport and Fashion brand that focuses on fitness, fashion, and lifestyle.
                </P>

                <p>
                    Our brand is of high and top notch quality designed to give you the needed 
                    comfort, confidence, motivation, inspiration and style throughout your journey
                     of a fashionable and healthier lifestyle.
                </p>
            
            </div>
            <div class="mt-5">
                <h6>
                    Accepted Payment Partners
                </h6>
                <img src="../asset/images/mastercard.png">
                <img src="../asset/images/visa.png">
                <img src="../asset/images/discover.png">
                <img src="../asset/images/paypal.png">
                <img src="../asset/images/cirrus.png">

            </div>
        </div>

            <div class="col-md-5">
                <h5>
                    Sign up to our  newsletter
                </h5>

            </div>
            
             <!-- <a href="rikeey/asset/image/rikeey-logo.png"></a>
            
         -->




    </footer>





    


    <script src="../asset/js/bootstrap.min.js"></script>
    <script src="../asset/fontawesome-free-5.15.2-web/js/fontawesome.min.js"></script>
    <script src="../app.js"></script>

    
</body>
</html>
