<%- include('partials/nav.ejs') %>

<div class="main-content">
  <div class="hero-container">
    <img src="/images/madeforcomfort.png" class="hero-image" alt="" />
    <div class="hero-layer">
      <div class="hero-text">
        <div class="comfort-text">Made for your comfort</div>
        <div class="complete-text fw-600">The complete sporty look</div>

        <a href="">
          <div
            class="shop-text br-2 border-white btn bg-transparent white-color fw-700"
          >
            Shop Now
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="catalog-section">
    <div class="catalog-label">
      <div class="catalog-label-text m-auto">Rikeey for Everyone...</div>
    </div>
    <div class="catalog-image-container row">
      <div class="col-md-4 men-top px-0">
        <img
          src="/images/men-top.png"
          class="catalog-img img-fluid men-top-img"
          alt=""
        />
        <div class="catalog-text-bg">Men Top</div>
      </div>
      <div class="col-md-4 px-0 women-catalog">
        <div class="row mx-0 women-short">
          <img
            src="/images/women-short.png"
            class="catalog-img px-0 img-fluid women-short-img"
            alt=""
          />
          <div class="catalog-text-bg">Women Short</div>
        </div>
        <div class="row mx-0 women-set">
          <img
            src="/images/women-set.png"
            class="catalog-img px-0 img-fluid women-set-img"
            alt=""
          />
          <div class="catalog-text-bg">Women Set</div>
        </div>
      </div>
      <div class="col-md-4 men-bottom px-0">
        <img
          src="/images/men-button.png"
          class="catalog-img men-bottom-img"
          alt=""
        />
        <div class="catalog-text-bg">Men Bottom</div>
      </div>
    </div>
  </div>

  <div class="slider-section">
    <div class="slider-label">
      <div class="slider-label-text m-auto">Take a tour...</div>

      <!--
                        font aweson for the arrow left and right
                        how to link font awesome and use it
                        
                        
                        
                        <div class="button-container">
                        <button id="backBtn">
                            back
                        </button>
                        <button id="fwdBtn">
                            fwd
                        </button>
                    </div> -->
    </div>

    <section class="center slider">
      <div>
        <img src="http://placehold.it/350x300?text=1" />
      </div>
      <div>
        <img src="http://placehold.it/350x300?text=2" />
      </div>
      <div>
        <img src="http://placehold.it/350x300?text=3" />
      </div>
      <div>
        <img src="http://placehold.it/350x300?text=4" />
      </div>
    </section>

    <style type="text/css">
      .slider {
        width: 50%;
        margin: 100px auto;
      }

      .slick-slide {
        margin: 0px 20px;
      }

      .slick-slide img {
        width: 100%;
      }

      .slick-prev:before,
      .slick-next:before {
        color: black;
      }

      .slick-slide {
        transition: all ease-in-out 0.3s;
        opacity: 0.2;
      }

      .slick-active {
        opacity: 0.5;
      }

      .slick-current {
        opacity: 1;
      }
    </style>
    <!--
                <div class="slider-container">
                    <div class="image-slide ">
                        <div class="slide-img-container">
                            <img src="../asset/images/men-top.png" class="slider-img img-fluid " alt="">
                        </div>
                        <div class="slide-img-container">
                            <img src="../asset/images/men-button.png" class="slider-img img-fluid " alt="">
                        </div>
                        <div class="slide-img-container">
                            <img src="../asset/images/women-set.png" class="slider-img img-fluid " alt="">
                        </div>
                    </div>
                </div> -->
  </div>
</div>

<%- include('partials/footer.ejs') %>
